%div{:id => '#panel-container', :class => (local_assigns[:indented] && indented) ? 'indented' : ''}
  .panel.ui-dialog.ui-widget.ui-widget-content.ui-corner-all
    .panel-header.ui-widget-header.ui-corner-all
      - if local_assigns[:title]
        = title
      
    .panel-content.ui-dialog-content.ui-widget-content
      = yield
    - if local_assigns[:buttons] && local_assigns[:buttons] != ''
      .panel-buttonpane.ui-dialog-buttonpane.ui-widget-content
        = buttons
  - if local_assigns[:outside]
    = outside