= select_tag(local_assigns[:object] ? object + '[subject]' : 'subject',
  options_for_select(%w[All Anthropology Archaeology Astronomy Biochemistry Biology Business Chemistry Economics Forensics Geography Mathematics Philosophy Physics Psychology Sociology Other]))