- title 'About'

%h1 About Mypothesis
%p Mypothesis is a website that allows people including non-scientists to share their hypotheses, provide evidences for different hypotheses, and rate different evidences.
%p Mypothesis was created by #{link_to 'LeoJweda', 'http://wwww.LeoJweda.com/'}, a computer science and psychology student in #{link_to 'Trent University', 'http://wwww.trentu.ca/'}.
%p Mypothesis is something he always wanted because since a young age, Leo Jweda always had ideas that he thought were original but then learned that they are not. Another reason why Mypothesis was created is that now that he is a psychology student, he has a lot more theories and ideas that he wants opinions on and Mypothesis makes a perfect platform for sharing those ideas and getting feedback on them.
