- if can? :update, hypothesis
  = link_to 'Edit', edit_hypothesis_path(hypothesis), :class => 'btn'
- if can? :destroy, hypothesis 
  = link_to 'Destroy', hypothesis, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-danger delete'
