- if can? :update, evidence
  = link_to 'Edit', edit_hypothesis_evidence_path(evidence.hypothesis, evidence), :class => 'btn'
- if can? :destroy, evidence
  = link_to 'Destroy', hypothesis_evidence_path(evidence.hypothesis, evidence), :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-danger delete'