%footer.ui-widget-header.ui-corner-all.ui-helper-clearfix
  = link_to "FAQ", faq_path
  = link_to "About", about_path
  = link_to "Contact", contact_path
#extras
  %a{:href => "http://www.w3.org/html/logo/"}
    %img{:src => "http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png", :width => "165", :height => "64", :alt => "HTML5 Powered with CSS3 / Styling, and Semantics", :title => "HTML5 Powered with CSS3 / Styling, and Semantics"}
  %a{:id => "mixpanel", :href => "http://mixpanel.com/f/partner"}
    %img{:src => "http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt => "Real Time Web Analytics"}