%footer.ui-widget-header.ui-corner-all.ui-helper-clearfix
  = link_to "FAQ", faq_path
  = link_to "About", about_path
  = link_to "Contact", contact_path
%a{id: "mixpanel", :href => "http://mixpanel.com/f/partner"}
  %img{:src => "http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt => "Real Time Web Analytics"}